/* Web Fonts ----------------- */

/* Base Styles ----------------- */
h1 {
	color:orangered;
	text-align:center;
}

.navigation {
  color:orange;
}

/* Psuedo Classes ----------------- */
a:link {
  text-decoration: none;
}
a:active {
  color: orangered;
}
a:visited {
  color: slateblue;
}

/* Main Styles ----------------- */
.main-header {
  height: 900px;
  padding-top: 50px;
  background: linear-gradient(#ff8000, #02475B, transparent 85%);
  background: url(/images/bear.jpg) no-repeat center;
}
.arrow {
  width: 50px;
  margin-top: 140px;
}
/* Layout Styles ----------------- */

/* Floated Collumns ----------------- */

/* Float Clearfix ----------------- */

/* Media Queries ----------------- */