/* Web Fonts ----------------- */

/* Base Styles ----------------- */
h1 {
	color:orangered;
	text-align:center;
}

.navigation {
  color:orange;
}

/* Psuedo Classes ----------------- */

/* Main Styles ----------------- */
.main-header {
  background: url(/images/bear.jpg) no-repeat center;
}

/* Layout Styles ----------------- */

/* Floated Collumns ----------------- */

/* Float Clearfix ----------------- */

/* Media Queries ----------------- */