/* Web Fonts ----------------- */

/* Base Styles ----------------- */
h1 {
	color:orangered;
	text-align:center;
}

.navigation {
  color:orange;
}

/* Psuedo Classes ----------------- */

/* Main Styles ----------------- */

/* Layout Styles ----------------- */

/* Floated Collumns ----------------- */

/* Float Clearfix ----------------- */

/* Media Queries ----------------- */