/* this style sheet is specifically for corrections within the chippewa file directory */

blockquote{
	text-align: left;
	font: 1.2em/2em;
	text-indent: 2em;
}
.col {
	flex: 1 50%;
}
.tertiary img{
	max-width: 200px;
}
