
h4{
	font-size:1.3em;
}

form {
	padding:5px;
}
select{
	margin-bottom: 15px;
	font-size:1.2em;
}
.size a{
	font-size: 1.3em;
}
.col ul{
	padding: 3px;
	font-size: 1.2em;
	line-height: 2em;
}
/* .col ul li:nth-last-child(1),
.col ul li:nth-last-child(2){
	font-weight: bold; 
} */
.protect{
	color:red;
	font-size: 1.1em;
}
.usFlag {
	height: 30px;
	width: 30px;
}
.bodyWrap{
	justify-content: space-around;
	align-items: center;
	max-width: 1300px;
}
.price{
	font-size: 2em;
}
.sale {
	font-size: 2.5em;
}
.zoom {
  transition: transform .5s;
}
.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
	transform: scale(1.5);
}
.snkgrdpp{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.snkgrdpp h3{
	font-size:1.5em;
  margin:0;
	color:#5b6c55
}
.snkgrdpp h4{
	font-size:1.4em;
	margin-bottom: 25px;
}
.legacyimg img{
	max-width: 300px;
}
/* Media Queries */
@media (min-width:764px){
	.col{
		flex:1 50%;
		max-width: 500px;
	}
}