/* minimal style here.

create a robust, sticky nav for mobile that goes from vert collapsing to horizontal at a desktop breakpoint and footer

create breakpoints for flexbox content

color palette: 
#ffffff = white
#877761 = brown
#a1bc7e = light green
#cfc7bc = khaki
#5b6c55 = dark green
*/

* {
  box-sizing: border-box;
}
/* Base Styles */
body {
  background-color: #fff;
  color: black;
  font-family: 'Archivo', sans-serif;
  font: 1em/1.7;
  text-align: center;
}

header,
img {
  width:100%;
}
img[src="misc/img/US_Flagmini.gif"],
img[src="misc/img/US_Flag.jpg"] {
  height: 30px;
  width: 30px;
}
img[src="misc/img/sale.png"]{
  width: 80%;
  height: 100px;
}
/* link styles */
a {
  text-decoration: none;
  font-size: 1.5em;
  color:#5b6c55;
}
a:hover {
  color:#a1bc7e;
}
a::after{
  color:#a1bc7e;
}


/* Flexbox Base Style */
.bodyWrap {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 85%;
}
 /* .productWrap
 .bannerCard {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.productListing,
.bannerCard {
  flex: 1 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-bottom: 0.5px;
  padding-top: 0.5px;
  margin-bottom: 40px;

  display: flex;
}


/* Verticle Nav*/
nav {
  margin: 0 1%;
}
nav a{
  text-align: center;
  text-transform: uppercase;
  display: block;
  padding: 7px 5px;
  font-size: 1.2em;
}
ul{
  padding:0;
  margin:0;
  list-style: none;
}
ul li:first-child{
  border-top: solid 1.5px;
  color:#5b6c55;
}
ul li:first-child:hover{
  border-top: solid 1.5px;
  color: #a1bc7e;
}
ul li:last-child{
  border-bottom:solid 1.5px;
  color:#5b6c55;
}
ul li:last-child:hover{
  border-bottom:solid 1.5px;
  color:#a1bc7e;
}


/* Sticky Footer */
img[src="chippewa/img/mini23913.jpg"]{
  height: 100px;
  width: 80px;
}
footer {
  margin:0 1%;
}
footer a{
  text-align: center;
  text-transform: uppercase;
  display: block;
  padding: 7px 5px;
  font-size: 1.2em;

/* media queries */