/* minimal style here.

create a robust, sticky nav for mobile that goes from vert collapsing to horizontal at a desktop breakpoint and footer

create breakpoints for flexbox content

color palette: 
#ffffff = white
#877761 = brown
#a1bc7e = light green
#cfc7bc = khaki
#5b6c55 = dark green
*/

* {
  box-sizing: border-box;
}
/* Base Styles */
body {
  background-color: #fff;
  color: #5b6c55;
  font-family: 'Archivo', sans-serif;
  font: 1em/1.7;
  text-align: center;
}
a {
  text-decoration: none;
}
header,
img {
  width:100%;
}
img[src="misc/img/US_Flagmini.gif"],
img[src="misc/img/US_Flag.jpg"] {
  height: 30px;
  width: 30px;
}
/* Flexbox Base Style */
.bodyWrap {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 85%;
}
 .productWrap
 .bannerCard {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.productListing1,
.productListing2,
.productListing3,
.productListing,
.bannerCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-bottom: 0.5px;
  padding-top: 0.5px;
  margin-bottom: 40px;
}

/* Verticle Nav*/
ul{
  padding:0;
  margin:0;
  list-style: none;
}
ol {
  background-color: #cfc7bc;
}

/* Sticky Footer */

/* Media Queries */